﻿@model NZ.Railways.Models.BookingDto

@{
    ViewBag.Title = "BookTickets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("SearchTicket","Booking")) 
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-6">
            <div class="ticket-container">
                <div class="row m-l-1">
                    <h4 class="text-primary"><strong>Get Tickets</strong></h4>
                </div>
                <div class="row m-l-1">
                    @Html.EditorFor(model => model.StartStation, new {htmlAttributes = new {@class = "input-lg margin-bottom"}})
                    @Html.ValidationMessageFor(model => model.StartStation, "", new {@class = "p-l-1 text-danger"})
                </div>
                <div class="row m-l-1">
                    @Html.EditorFor(model => model.EndStation, new {htmlAttributes = new {@class = "input-lg margin-bottom"}})
                    @Html.ValidationMessageFor(model => model.EndStation, "", new {@class = "p-l-1  text-danger"})
                </div>
                <div class="row pull-right m-r-1">
                    <input type="submit" value="Search and Book" class="btn btn-success btn-lg margin-bottom"/>
                </div>

                @if (ViewBag.totaldistance != null){
                    <div class="row m-l-1">
                        <span class="text-primary">Total Distance : @ViewBag.totaldistance</span>
                    </div>
                }
                
                </div>

        </div>
    </div>

           
            }

