﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Segoe UI"!important;
    font-size: 14px!important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.header-container {
    background-image: url("/content/img/railways.png");
    background-repeat: no-repeat;
    height: 450px;
    width: 100%;
}
.margin-bottom {
    margin-bottom: 10px;
}
.text-primary {
    font-family: inherit !important;
}

.ticket-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 200px;
    margin-top: 20px;
}
